header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    
}
.tr {
    background-color: #d97b7b;
}
h1 {
    text-align: center;
    align-items: center;
}
table {
    border: 1px solid #000;
    width: 30%;
    margin: 0 auto;
    border-collapse: collapse;
}
.img01{
    width: 70%;
    height: 80px;
    border-radius: 10px;
}
.his {
    background-color: rgb(230, 160, 30);
}
.ing {
    background-color: rgb(158, 255, 200);
}
.titulo {
    background-color: rgb(132, 216, 252);
}
.eduf {
    background-color: rgb(254, 145, 141);
}
.mate {
    background-color: rgb(228, 169, 255);
}
.cienc {
    background-color: rgb(84, 144, 255);
}
.art {
    background-color: rgb(200, 112, 255);
}
.taller  {
    background-color: rgb(231, 91, 126);
}
.dias {
    background-color: rgb(237, 92, 25);
}